<?xml version="1.0"?>
<robot name="hockey_stick">
    <link name="robot_base">
        <inertial>
            <origin rpy="-0.695240 3.141593 -3.141593" xyz="0.000228 -0.014521 0.079045" />
            <inertia ixz="-7.876868292963e-08" ixx="3.2528697286709e-05" iyz="3.3373566270136e-06" iyy="3.1507984749972e-05" izz="1.0371174309247e-06" ixy="-7.81353615775e-09" />
            <mass value="0.0055021736770868" />
        </inertial>
        <collision name="hockey_stick">
            <origin rpy="-0.695240 3.141593 -3.141593" xyz="0.000000 0.000000 0.100000" />
            <geometry>
                <mesh filename="meshes/visual/hockey_stick_robot_base_coll_1.dae" />
            </geometry>
        </collision>
        <collision name="hockey_stick">
            <origin rpy="-0.695240 3.141593 -3.141593" xyz="0.000000 0.000000 0.100000" />
            <geometry>
                <mesh filename="meshes/visual/hockey_stick_robot_base_coll_2.dae" />
            </geometry>
        </collision>
        <visual name="hockey_stick">
            <origin rpy="-0.695240 3.141593 -3.141593" xyz="0.000000 0.000000 0.100000" />
            <geometry>
                <mesh filename="meshes/visual/hockey_stick_robot_base_vis_1.dae" />
            </geometry>
            <material name="robot_base_material">
                <color rgba="0.900000 0.514286 0.000000 1.0" />
            </material>
        </visual>
        <visual name="hockey_stick">
            <origin rpy="-0.695240 3.141593 -3.141593" xyz="0.000000 0.000000 0.100000" />
            <geometry>
                <mesh filename="meshes/visual/hockey_stick_robot_base_vis_2.dae" />
            </geometry>
            <material name="robot_base_material">
                <color rgba="0.880000 0.502857 0.000000 1.0" />
            </material>
        </visual>
    </link>
</robot>
